@charset "utf-8";

:root {
    --cor1: #28a5d9; /* Cor Primária do site */
    --cor2: #eeeeee; /* Cor de fundo do site */
}

/********** CLASSES GERAIS **********/

.cor1 {
    background-color: var(--cor1);
}

.cor2 {
    background-color: var(--cor2);
}

/********** FIM CLASSES GERAIS **********/

* { 
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: var(--cor2);
}

div#principal {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

/************** FIM DO INDEX *************/

/************** INICIO CABECALHO **********/

div#cabecalho-superior {
    width: 100%;
}

nav#menu-superior {
    width: 100%;
    height: 20px;
    background-color: white;
    margin: 0 auto;
    text-align: right;
    font-size: 10px;
}

div#cabecalho-meio {
    width: 100%;
    height: 85px;
    position: relative;
}

div#cabecalho-meio h1 {
    position: absolute;
    top: 10%;
    left: 3%;
    text-indent: -9999px;
    width: 200px;
    height: 64px;
    background-image: url("../../imagens/logo-hortifruti-p.png");
}

.sacola {
    width: 25%;
    height: 25px;
    font-size: 10px;
    text-align: right;
    position: absolute;
    top: 20%;
    left: 71%;
    padding-right: 25px;
}

.busca {
    text-align: right;
    width: 40%;
    position: absolute;
    top: 55%;
    left:58%;
}

div#cabecalho-inferior {
    width: 100%;  
    line-height: 22px;
    border-bottom: 1px solid #ccc;  
}

nav#menu-principal {
    width: 95%;
    height: 25px;
    margin: 0 auto 0 auto;
    text-align: center;
}

/********** CORPO ADMIN **********/

div#corpo-adm { 
    width: 1200px;
}

nav#lado-esquerdo {
    width: 200px;
    float: left;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #CCC;
}

nav#lado-esquedo li, #esquerdo li a {
    font: 12px verdana;
    text-decoration: none;
    color: #555;
}

nav#lado-esquerdo ul li {
    padding-left: 10px;
    list-style: none;
}

nav#lado-esquerdo li a {
    width: 175px;
    padding: 4px 0 3px 5px;
    display: block;
    border-bottom: dotted 1px #999;
    background: #F5F5F5;
}

nav#lado-esquerdo li a:hover {
    color: #069;
    background-color: #E6F5FB;
}

div#lado-direito {
    width: 992px;
    float: left;
    margin: 5px 0 0 5px;
    border: 1px solid #ccc;
}

div#lado-direito h2 {
    text-align: center;
}

/********** LISTAS **********/

table {
    float: left;
    border-collapse: collapse;
    border: 1px solid #333;
    background: #fff;
    width: 100%;
    margin-top: 8px;
    text-align: center;
}

table thead {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: var(--cor1);
}

table thead tr th {
    padding: 3px 0;
}

table tbody {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #000;
}
table tbody tr td {
    padding: 3px;
}

table tbody tr td:hover {
    background: #f4f4f4;
}

/********** FORMULARIOS **********/

div#formulario {
    width: 985px;
    padding: 3px;
    background: #fff;
    border: 1px solid #069;
}

div#formulario label { 
    display: block;
}

div#formulario label span.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #069;
    display: block;
    width: 100%;
    margin: 6px 4px 2px 30px;
}

span.tituloIMG {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #069;
    display: inline;
    width: 100%;
    margin: 6px 4px 2px 30px;
}

div#formulario form label input[type=text], div#formulario form label input[type=password] {
    padding: 6px 5px;
    margin-left: 30px;
    background: #fff;
    border: 1px solid #069;
    width: 900px;
    outline: none;
}

div#formulario form label textarea {
    padding: 6px 5px;
    margin-left: 30px;
    background: #fff;
    border: 1px solid #069;
    width: 900px;
    outline: none;
}

div#formulario .dois-campos {
    padding: 4px 0;
    width: 955px;
}

div#formulario .dois-campos > label {
    display: inline-table;
    width: 300px;
    margin-right: 5px;
}

div#formulario .dois-campos > label input[type=text] {
    width: 425px;
}

div#formulario .dois-campos > label input[type=file] {
    padding: 4px 5px;
    margin-left: 30px;
    background: #fff;
    border: 1px solid #069;
    width: 425px;
    outline: none;
}

div#formulario .dois-campos > label > select {
    padding: 4px 0;
    width: 435px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-left: 30px;
    border: 1px solid #069;
}

div#formulario .tres-campos > label > select {
    padding: 4px 0;
    width: 281px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-left: 30px;
    border: 1px solid #069;
}

div#formulario .tres-campos label {
    display: inline-table;
    width: 250px;
}

div#formulario .tres-campos label input[type=text] {
    width: 270px;
}

div#formulario .botao {
    width: 120px;
    height: 30px;
    display: block;
    margin: 15px auto;
    cursor: pointer;
    color: #fff;
    background: #069;
}
  



