@charset "utf-8";

:root {
    --cor1: #28a5d9; /* Cor Primária do site */
    --cor2: #eeeeee; /* Cor de fundo do site */
}

/********** CLASSES GERAIS **********/

.cor1 {
    background-color: var(--cor1);
}

.cor2 {
    background-color: var(--cor2);
}

/********** FIM CLASSES GERAIS **********/

* { 
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: var(--cor2);
}

div#principal {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

/************** FIM DO INDEX *************/

/************** INICIO CABECALHO **********/

div#cabecalho-superior {
    width: 100%;
}

nav#menu-superior {
    width: 100%;
    height: 20px;
    background-color: white;
    margin: 0 auto;
    text-align: right;
    font-size: 10px;
}

div#cabecalho-meio {
    width: 100%;
    height: 85px;
    position: relative;
}

div#cabecalho-meio h1 {
    position: absolute;
    top: 10%;
    left: 3%;
    text-indent: -9999px;
    width: 200px;
    height: 64px;
    background-image: url("../../imagens/logo-hortifruti-p.png");
}

.sacola {
    width: 25%;
    height: 25px;
    font-size: 10px;
    text-align: right;
    position: absolute;
    top: 20%;
    left: 71%;
    padding-right: 25px;
}

.busca {
    text-align: right;
    width: 40%;
    position: absolute;
    top: 55%;
    left:58%;
}

div#cabecalho-inferior {
    width: 100%;  
    line-height: 22px;
    border-bottom: 1px solid #ccc;  
}

nav#menu-principal {
    width: 95%;
    height: 25px;
    margin: 0 auto 0 auto;
    text-align: center;
}

