@charset "utf-8";

:root {
    --cor1: #28a5d9; /* Cor Primária do site */
    --cor2: #eeeeee; /* Cor de fundo do site */
}

* {
    margin: 0;
    padding: 0;
}

/********* INDEX PRINCIPAL************/
/*************************************/

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: var(--cor2);
}

div#principal {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

section#cabecalho {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 1200px;
    height: 131px;
    background-color: var(--cor2);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section#corpo {
    width: 1200px;
    height: auto;
    margin: 140px auto 0 auto;
}

/** FIM DO INDEX PRINCIPAL **/

/********** INICIO CABECALHO *********/

div#cabecalho-superior {
    width: 100%;
}

nav#menu-superior {
    width: 100%;
    height: 20px;
    background-color: white;
    margin: 0 auto;
    text-align: right;
    font-size: 10px;
}

nav#menu-superior ul {
    padding-top: 3px;
    margin-right: 15px;
}

nav#menu-superior ul li {
    display: inline;
    margin-left: 15px;
}

nav#menu-superior ul li a {
   color: black;
   text-decoration: none;
   font-weight: bolder;
}

nav#menu-superior ul li a:hover {
    color: red;
 }

div#cabecalho-meio {
    width: 100%;
    height: 85px;
    position: relative;
}

div#cabecalho-meio h1 {
    position: absolute;
    top: 10%;
    left: 3%;
    text-indent: -9999px;
    width: 200px;
    height: 64px;
    background-image: url("../imagens/logo-hortifruti-p.png");
}

.sacola {
    width: 25%;
    height: 25px;
    font-size: 10px;
    text-align: right;
    position: absolute;
    top: 20%;
    left: 71%;
    background: url("../imagens/carrinho.png") no-repeat top right;
    padding-right: 25px;
}

.busca {
    text-align: right;
    width: 40%;
    position: absolute;
    top: 55%;
    left:58%;
}

section.busca input[type=search] {
    width: 300px;
}

.botao-lupa {
    position: relative;
    top: 3px; /* desce o botão (e a imagem dentro) 3px */
    background: none;
    border: none;
    padding: 0;
    margin-left: 5px;
    cursor: pointer;
}

div#cabecalho-inferior {
    width: 100%;  
    line-height: 22px;
    border-bottom: 1px solid #ccc;  
}

nav#menu-principal {
    width: 95%;
    height: 25px;
    margin: 0 auto 0 auto;
    text-align: center;
}

nav#menu-principal ul {
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav#menu-principal ul li {
    display: inline;
    margin-left: 5px;
    padding: 5px 30px;
    font-size: 13px;
    font-weight: bolder;

}

nav#menu-principal ul li a {
    color: #333;
    text-decoration: none;
}

nav#menu-principal ul li a:hover {
    color: red;
}

.linha-vertical {
    border-right: 1px solid #ccc;
}

/************  FIM DO CABECALHO ************/




div#lado-direito {
    width: 79%;
    height: auto;
    margin-top: 11px;
    float: left;
}

div#clear {
    clear: both;
}

div#rodape-final {
    width: 100%;
    height: 150px;
    display: flex;
    position: relative;
}

div#rodape-final > img.local {
    width: 28px;
    height: 28px;
    margin: 30px 0 0 20px;
}

div#rodape-final > p.address {
    width: 22%;
    height: 30px;
    font-size: 12px;
    color: #333;
    margin: 30px 0 0 5px;
    font-weight: bold;
}

div#rodape-final > img.rodmail {
    position: absolute;
    top: 85px;
    left: 20px;
    width: 28px;
    height: 28px;
}

div#rodape-final > p.textmails {
    position: absolute;
    top: 85px;
    left: 55px;
    font-weight: bold;
}

div#rodape-final > img.logofs {
    position: absolute;
    top: 6%;
    left: 38%;
    width: 300px;
    height: 125px;
}

div#rodape-final > p.social {
    position: absolute;
    top: 20%;
    right: 7%;
    font-size: 18px;
    color: #333
}

div#rodape-final > nav {
    position: absolute;
    top: 50%;
    right: 6%;
}

div#rodape-final > nav > ul > li {
    list-style: none;
    display: inline-block;
    margin-left: 23px;
}

div#rodape-final > nav > ul > li > a {
    display: inline-block;
    transition: transform 0.3s ease;
}

div#rodape-final > nav > ul > li > a:hover {
    transform: scale(1.2);
}

div#copyright > p {
    width: 100%;
    font-size: 11px;
    color: #333;
    text-align: center;
    padding-bottom: 7px;
    font-weight: bold;
}

div#cx-img-prod {
    width: 50%;
    height: 385px;
    border: 1px solid #ccc;
    padding: 1px;
    background-color: white;
    margin-right: 10px;
    float: left;
}

div#cx-img-prod > img {
    border: 0;
}

div#cx-img-prod > a > img {
    border: 0;
    width: 380px;
    height: 380px;
    margin-left:50px;
}

div#titulo-prod {
    width: 48%;
    height: 100px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: white;
}

div#titulo-prod h1 {
    padding: 5px;
}

div#titulo-prod a {
    color: #333;
    font-size: 22px;
    padding: 5px;
    text-decoration: none;
}

div#titulo-prod a:hover {
    color: red;
}

div#preco-prod {
    width: 48%;
    height: 45px;
    float: left;
    border: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    background-color: #fff;    
}

div#preco-prod spain {
    color: #ff0000;
    font-size: 24px;
}

div#preco-prod strong {
    color: #333;
    font-size: 26px;
    margin-left: 15px;
}

div#descricao { 
    width: 48%;
    height: 150px;
    border: 1px solid #ccc;
    float: left;
    margin-top: 10px;
    background-color: #fff;
}

div#descricao h2 {
    padding: 0 0 2px 5px;
    border-bottom: 1px solid #ccc;
}

div#descricao > p {
    padding: 5px;
    text-align: justify;
    text-indent: 30px;
}

div#comprar-prod {
    width: 99.5%;
    height: 45px;
    float: left;
    margin-top: 7px;
    background-color: #fff;
    border: 1px solid #ccc;

    text-align: right;
    padding-right: 5px;
}

div#comprar-prod > form > input {
    width: 175px;
    height: 45px;
    border: none;
    cursor: pointer;
    background: url(../imagens/comprar_detalhes.png);
}

div#base-carrinho, #base-carrinho h2 {
    width: 1200px;
    margin: 0 0 10px 0;
}

div#linha-botoes {
    margin-top: 10px;
    padding: 5px;
    text-align: right;
    cursor: pointer;
    width: 99,5%;
    height: 40px;
    border: 1px solid #ccc;
    background: #fff;

}

/******************************/
/*     FORMULARIO CLIENTES    */
/******************************/

div#formulario {
    width: 1200px;
}

div#formulario > form {
    width: 800px;
    margin: auto;
}

div#formulario > form > fieldset {
    margin: 10px;
    padding: 10px;
    border-color: #069;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.350);
}

div#formulario > form > fieldset > legend {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #069;
}

span.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #069;
    display: block;
    width: 100%;
    margin: 6px 4px 2px 15px;
}

label.umaLinha > span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #069;
    display: block;
    width: 100%;
    margin: 6px 4px 2px 15px;
}

input.unicaLinha { 
    padding: 6px 5px;
    margin-left: 15px;
    background: #fff;
    border: 1px solid #069;
    width: 715px;
    outline: none;
}

label.umaLinha > input {
    padding: 6px 5px;
    margin-left: 15px;
    background: #fff;
    border: 1px solid #069;
    width: 715px;
    outline: none;
}

div.duasLinhas > label {
    display: inline-table;
    width: 375px;
}

div.duasLinhas > label >input {
    padding: 6px 5px;
    margin-left: 15px;
    background: #fff;
    border: 1px solid #069;
    width: 335px;
    outline: none;
}

div.tresLinhas > label {
    display: inline-table;
    width: 150px;
}

div.tresLinhas > label > input {
    padding: 6px 5px;
    margin-left: 15px;
    background: #fff;
    border: 1px solid #069;
    width: 260px;
    outline: none;
}

div.tresLinhas > label > select {
    padding: 6px 5px;
    margin-left: 15px;
    background: #fff;
    border: 1px solid #069;
    width: 145px;
    outline: none;
}

div#formulario .botao {
    width: 120px;
    height: 30px;
    display: block;
    margin: 15px auto;
    cursor: pointer;
    color: #fff;
    background: #069;
}

/******************************/
/* INICIO DAS CLASSES DO SITE */
/******************************/

.cor1 {
    background-color: var(--cor1);
}

.cor2 {
    background-color: var(--cor2);
}

aside.banner {
    width: 100%;
    height: auto;
}

aside.banner > img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

section.categorias {
    width: 20%;
    height: auto;
    float: left;
    margin-right: 8px;
    border: 1px solid #ccc;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.350);
}

section.categorias h2 {
    width: 96%;
    height: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
}

section.categorias ul {
    width: 100%;
    list-style: none;
}

section.categorias ul li a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

section.categorias ul li a:hover {
    color: #666;
}

section.categorias ul ul {
    width: 100%;
    background-color: white;    
}

section.categorias ul ul li {
    border-bottom: 1px solid #ccc;
    padding: 7px 0 7px 15px;
}

section.categorias ul ul li a {
    color: #666;
    font-size: 12px;
}

section.categorias ul ul li a:hover {
    color: #00ccff;
}

h3.titulo-vitrine {
    width: 99,5%;
    height: 20px;
    padding-left: 10px;
    font-size: 16px;
    color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.350);
}

section.vitrine {
    margin: 10px 0;
}

section.vitrine h3.sugestao {
    color: #fff;
    padding: 3px 10px;
    margin-bottom: 10px;

}

section.vitrine, section.vitrine-detalhe {
    padding: 5px;
    width: 99%;
    height: auto;
    border: 1px solid #ccc;
    float: left;    
}

section.vitrine h2 {
    width: 99%;
    height: 20px;
    border: 1px solid #ccc;
    margin: 2px 1px 5px 2px;
    padding: 0px 0px 4px 4px;
    background-color: #fbfbfb;    
}

section.vitrine ul { 
    width: 99,5%;
    height: auto;
    border: 1px solid #ccc;
    margin: 2px 1px 5px 2px;
    padding: 05px 0px 5px 10px;
}

section.vitrine li {
    width: 19%;
    height: 220px;
    margin: 2px;
    padding-bottom: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.350);
    
}

section.vitrine a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

section.vitrine figure {
    margin-bottom: 5px;
}

section.vitrine span {
    color: #FF0000;
    font-size: 16px;
    font-weight: bolder;
}

section.vitrine span.abrevMedida {
    margin-left: 2px;
    font-size: 10px;
    color: black;
}

span.abrevMedida2 {    
    margin-left: 2px;
    font-size: 18px;
    font-weight: 300;
    color: red;
}

section.vitrine input {
    width: 92px;
    height: 30px;
    margin-top: 5px;
    background-image: url(../imagens/botao_comprar.png);
    border: none;   
}

section.vitrine input:hover {
    transition-duration: 0.6s;
    cursor: pointer;
    background-image: url(../imagens/botao_comprar_red.png);
}

table {
    border-collapse: collapse;
    border: 1px solid #333;
    background: #fff;
    width: 100%;
    margin-top: 8px;
    text-align: center;
}

table thead {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: var(--cor1);
}

table thead tr th {
    padding: 3px 0;
}

table tbody {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #000;
}
table tbody tr td {
    padding: 3px;
}

table tbody tr td:hover {
    background: #f4f4f4;
}

div.set-grp { 
    width: 23%;
    height: 31px;
    float: left;
    margin-top: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    padding-top: 15px;
}

div.set-grp h3 {
    display: inline;
    color: red;
}

div.set-grp h3.set-grp2 {
    display: inline;
    color: black;
}

div.cx2 {
    margin-left: 16px;
}

img.img-carrinho {
    width: 60px;
    height: 60px;
    float: left;
    margin-left: 10px;
}

strong.nome-produto {
    width: 70%;
    height: 60px;
    margin-left: 10px;
    float: left;
    display: flex;
    align-items: center;
}

input.qtdeCarro {
    text-align: center;
}

section.vitrine > ul > li.carrinho-vitrine {
    width: 155px;
    height: 220px;
    margin-left: 5px;           
}

